/* Font weights and styles:
font-family: 'Neuton', serif;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-weight: 700;
font-weight: 800;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Neuton', serif;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 6em;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 100%;
    border-color: #c7c7c7;
    border-width: 3px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 100%;
    border-color: #c7c7c7;
    border-width: 3px;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 6em;
    width: 30%;
    border-radius: 2em;
    border-style: solid;
    border: 1px black;
    box-shadow: 0em 0.5em 2em black;
    background-color: white;
}

button a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    
}