/* Font weights and styles:
font-family: 'Neuton', serif;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-weight: 700;
font-weight: 800;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Neuton', serif;
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background-color: gray;
    color: white;
    font-size: 6em;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Neuton', serif;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.topContainer {
    display: grid;
    height: 8em;
}

.mainContainer {
    display: grid;
}

.slider1 {
    -webkit-appearance: none;
    width: 100%;
    height: 5em;
    border-radius: 5px;   
    background: white;
    outline: black;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 5em;
    background: #000000;
    cursor:grabbing;
}
