/* Font weights and styles:
font-family: 'Abel', sans-serif;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-weight: 700;
font-weight: 800;
*/
a {
    text-decoration: none;
}

body {
    font-family: 'Abel', sans-serif;
    background-color:black;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 4em;
    padding: 0.1em 0.5em 0.1em 1em;
    color: black;
    font-size: 6em;
}

h1:hover{
    border-color:rgb(115, 250, 125);
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3em;
    background-color: black;
    overflow: hidden;
    color:white;
    border-radius: 4em;
    padding: 0.1em 0.5em 0.1em 1em;
}

h2:hover {
    background-color: white;
    border: 1px solid #000000;
    color:black;
    box-shadow: 0em .1em .4em rgb(0, 0, 0);
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2em;
}

.slider1 {
    -webkit-appearance: none;
    overflow: hidden;
    width: 50%;
    height: 6em;
    border-radius: 10em;   
    padding: 0px;
    background-color:rgb(115, 250, 125);
    margin-left: 1em;
    margin-right: 1em;
}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 6em;
    background: #ffffff;
    cursor: ew-resize;
    border-width: 1px;
    border-style: solid;
    box-shadow: 100em 0 0 100em rgb(204, 255, 208);
}

.slider1 input:hover {
    box-shadow: 0em .1em 1em black;
}

select {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 4em;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
    margin-left: 1em;
    margin-right: 1em;
}

select:focus {
      background-image:
        linear-gradient(45deg, rgb(115, 250, 125) 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, rgb(115, 250, 125) 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
      border-color: rgb(115, 250, 125);
      outline: 0;
}

select:hover {
    box-shadow: 0em .1em 1em black;
}

input {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 4em;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input:hover {
        box-shadow: 0em .1em 1em black;
}
.inputItems {
    background-color: white;
    border: 1px solid #000000;
    padding: 0.1em 3.5em 0.5em 1em;
    margin:1em;

}

.inputCost {
    background-color: white;
    border: 1px solid #000000;
    padding: 0.1em 3.5em 0.5em 1em;
    margin:1em;

}

.sliders {
    background-color: white;
    border: 1px solid #000000;
    padding: 0.1em 3.5em 0.5em 1em;
    margin:1em;

}

.conclusion {
    background-color: white;
    border: 1px solid #000000;
    padding: 0.1em 3.5em 0.5em 1em;
    margin:1em;

}

.recommendations {
    background-color: white;
    border: 1px solid #000000;
    padding: 0.1em 3.5em 0.5em 1em;
    margin:1em;

}

#addButton{
    background-color: black;
      border: 1px solid #000000;
    overflow: hidden;
    color:white;
      border-radius: 4em;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 1.5em 0.5em 1.3em;
    margin-left:16px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
}

#addButton:hover {
    background-color: white;
    box-shadow: 0em .1em 1em black;
    color:black;
    border: 1px solid rgb(115, 250, 125);
}
#continueButton{
    background-color: black;
      border: 1px solid #000000;
    overflow: hidden;
    color:white;
      border-radius: 4em;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 1.5em 0.5em 1.3em;
    margin-left:16px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
}

#continueButton:hover {
    background-color: white;
    box-shadow: 0em .1em 1em black;
    color:black;
    border: 1px solid rgb(115, 250, 125);
}