/* Font weights and styles:
font-family: 'Neuton', serif;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-weight: 700;
font-weight: 800;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Neuton', serif;
}
/*
div {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}*/

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background-color: gray;
    color: white;
    font-size: 6em;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Neuton', serif;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.topContainer {
    display: grid;
    height: 8em;
}

.mainContainer {
    display: grid;
}

.slider1 {
    -webkit-appearance: none;
    overflow: hidden;
    width: 50%;
    height: 6em;
    border-radius: 10em;   
    margin: 10px;
    padding: 0px;
    background-color:rgb(115, 250, 125);
}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 6em;
    background: #ffffff;
    cursor: ew-resize;
    border-color: #cbc4ff;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    box-shadow: 100em 0 0 100em rgb(204, 255, 208);
}


