/* Font weights and styles:
font-family: 'Abel', sans-serif;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-weight: 700;
font-weight: 800;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    background-color:#000000;
}

img {
    position: fixed;
    width:100%;
    z-index: -1;
    filter:invert();
}

.top {
    position: absolute;
    
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 20em;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color:  white;
}

button {
    width: 45%;
    padding: 1em;
    border-radius: 10em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 35px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
}

button:hover {
    border-color: white;
    background-color: #4dd672;
    color: white;
}